* { box-sizing: border-box; }

body, h1 {
  margin: 0;
  padding: 0;
}

header {
  background-color: #778ca1;
  color: #ffffff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav{background-color:#FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 1em;}

nav a:link { color: darkgoldenrod;}

nav a:visited {color: #BC986A;}

nav a:hover {color: #8D8741;}

nav a {text-decoration: none;}

main{
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: block;
}

body{
  color: #555555 ; 
  background-color: #8D8741;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
}

table{
  margin: 0 auto; 
  width: 80%;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

footer {
  text-align: center;
  color: white;
  padding: 10px;
  background-color: #778ca1;
  clear: both;
  font-size: 75%;
  font-style: italic;
}

#homehero {
  height: 200px;
  background-image: url(media/yellowstone-hero.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: fill;
  background-attachment: fixed;
}

/* Formatting content for the Contact Page: */
.main-content {
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  padding-bottom: 60px; 
}

form label {
  display: block; 
  font-weight: bold; 
  margin-bottom: 8px; 
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-family: 'Times New Roman', Times, serif;
}
/* Form Formatting */
#message{height: 200px;}

.button-container {
  display: flex; 
  justify-content: space-between; 
}

.button-container input[type="submit"],
.button-container input[type="reset"] {
  flex-basis: 48%; 
  padding: 10px; 
  border: none; 
  background-color: darkgoldenrod; 
  color: white; 
  border-radius: 5px; 
  cursor: pointer; 
}

.button-container input[type="submit"]:hover,
.button-container input[type="reset"]:hover {
  background-color: #8D8741; 
}

/* Home page formatting */
#wrapper{
  background-image: linear-gradient(to bottom, #e3e9fc, white);
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

/* gallery formatting */
.gallery-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  place-items:center;
}

.gallery {
  display: inline-block;
  text-align: center;
  margin: 20px;
  margin-right: 10px;
}

.gallery img,
.gallery video {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

/* footer and social media formatting */
.footer-info a{
  color: white;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.icon {
    width: 30px;
    height: 30px;
}

#resume-pdf{
  width: 100%;
  height: 80vh;
  display: block;
  margin: 0 auto;
}

#resume a{
  color: #555555;
}